@import "~bootstrap/scss/bootstrap";

body.room {
  height: 100%;
  overflow: hidden;
}

main.room {
  overflow: hidden;

  .row.peers {
    .col-3 {
      height: 100%;
    }

    video {
      width: auto    !important;
      height: 100%   !important;
    }
  }

  .row.main-stage {
    video {
      width: auto    !important;
      height: 100%   !important;
    }
  }

  .localvideo {
    position: relative;

    .mute-button {
      position: relative;
      bottom: 10px;
      right: 30px;
    }
  }
}
